/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/
.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-main), sans-serif;
  font-size: 18px;
  font-variation-settings: "wght" var(--card-text-main-weight);
  background-image: var(--bg-gradient);
  max-width: 700px;
  margin: 0px auto;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
button {
  background-color: #fff;
}
.card {
  background-color: #fff;
  border: 2px solid #000000;
}
.header {
  text-align: center;
  /* padding: 120px 0; */
  padding: clamp(7.5rem, 6.922rem + 2.5vi, 8rem) 0;
  margin: 100px 0;
}
.page_title {
  font-family: var(--font-accent), fantasy;
  /* font-size: 49px; */
  font-size: clamp(3.063rem, 1.906rem + 5vi, 4.063rem);
}
.page_title_accent {
  margin-top: 20px;
  font-family: var(--font-accent), fantasy;
  /* font-size: 14px; */
  font-size: clamp(0.875rem, 0.225rem + 2.813vi, 1.438rem);
  text-transform: uppercase;
}
.card_title {
  font-size: 18px;
  font-variation-settings: "wght" var(--card-header-weight);
  padding: 4px 10px;
}
.card_feautured_wrap {
  position: relative;
}
.card_feautured {
  width: 100%;
  height: auto;
  border: solid #000;
  border-width: 2px 0;
  display: block;
  object-fit: cover;
  object-position: center;
}
.card_feautured_filter_sepia {
  filter: sepia(150%);
}
.card_feautured_filter_saturate {
  filter: saturate(700%);
}
.card_feautured_filter_grayscale {
  filter: grayscale(1);
}
.card_feautured_filter_blur {
  filter: blur(1em);
}
.card_feautured_filter_contrast {
  filter: contrast(150%);
}
.card_feautured_filter_brightness {
  filter: brightness(55%);
}
.card_feautured_filter_invert {
  filter: invert(4.5);
}
.card_featured_filter_multiple {
  filter: sepia(9) brightness(1.5) contrast(0.5);
}
.watermark {
  font-family: var(--font-accent), fantasy;
  color: #000;
  position: absolute;
  top: 24px;
  right: 10px;
  font-size: 14px;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  text-shadow: 1px #fff;
}
@supports ((text-shadow: 1px #fff) or (-webkit-text-stroke: 1px #fff)) {
  .watermark {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
  }
}
.card_text_block {
  padding: 25px;
}
.card_text {
  margin-bottom: 26px;
  line-height: 117%;
}
.card .card_text:not(:first-of-type) {
  margin-top: 0px;
}
/*почистить это потом*/
.like {
  height: 38px;
}
.page .card:not(:first-of-type) {
  margin-top: 50px;
}
.card_buttons {
  display: flex;
  gap: 6px;
  justify-content: flex-end;
}

.card__icon-button {
  border: none;
  display: flex;
  align-items: center;
  padding: 0px;
}
.core,
.main-body {
  fill: #fff;
  transition: fill 0.1s linear;
}
.core {
  transition: fill 0.3s ease-in-out 0.03s;
}
.main-body {
  transition: fill 0.3s ease-in-out;
}
.card__icon-button:focus {
  outline: none;
}
.card__icon-button:focus-visible {
  outline: 2px solid;
  outline-offset: -1.5px;
  transition: outline 0.3s ease;
}
.card__icon-button:hover .core {
  fill: #000;
  transition: fill 0.3s ease-in-out;
}
.card__icon-button:hover .main-body {
  fill: #000;
  transition: fill 0.3s ease-in-out 0.05s;
}

.card__icon-button:active .core {
  fill: #ff0000;
  transition: fill 0.3s ease-in-out;
}

.card__icon-button:active .main-body {
  fill: #ff0000;
  transition: fill 0.3s ease-in-out 0.05s;
}
.sparks {
  opacity: 0;
}
.like-icon.is-liked {
  animation: heart 0.3s ease-in forwards;
}
.like-icon.is-liked .contour {
  fill: #ff0000;
  transition: fill 0.3s ease-in-out 0.06s;
}
.like-icon.is-liked .main-body {
  fill: #ff0000;
  transition: fill 0.3s ease-in-out 0.05s;
}
.like-icon.is-liked .core {
  fill: #ff0000;
  transition: fill 0.3s ease-in-out;
}
.like-icon.is-liked .sparks {
  fill: #ff0000;
  animation: sparks 0.3s ease-in forwards 0.3s;
}
.card__text-button {
  position: relative;
  background-color: #fff;
  padding: 6.1px 0;
  min-width: 130px;
  border: 2px solid #000;
  overflow: hidden;
}
.card__text-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
  z-index: 0;
}
.card__text-button:hover::before {
  transform: translateX(0);
}
.card__text-button .button__text,
.card__text-button .floppy {
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
  color: #fff;
  font-family: var(--font-accent), fantasy;
  font-style: normal;
  font-weight: var(--card-text-main-weight);
  font-size: 14px;
  line-height: 90%;
}
.card__text-button:focus {
  box-shadow: 2px 2px;
  transition: box-shadow 0.3s ease;
}
.card__text-button:focus-visible {
  outline: none;
}
.save_blok {
  padding: 53px 0 100px;
}
.button_save {
  padding: 15px 20px;
  display: flex;
  gap: 8px;
  flex-direction: column;
  align-items: center;
  margin: 0px auto;
}
.floppy {
  width: 29px;
  height: 29px;
}
.dialog {
  padding: 0px;
  min-width: 345px;
  max-width: 353px;
}
.dialog .page_title_accent {
  font-size: 14px;
}
.dialog::backdrop {
  background: #000000;
  opacity: 0.75;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 32px 42px;
}
.description {
  display: flex;
  gap: 20px;
  align-items: center;
}
.description .floppy {
  width: 39px;
  height: 39px;
}
.description .page_title_accent {
  margin-top: 0;
  line-height: 150%;
}
.dialog .card__text-button {
  text-transform: uppercase;
}
@media (width > 375px) {
  .button_save {
    flex-direction: row;
    margin: 0px auto;
    padding: 14px 20px;
  }
  .floppy {
    width: 23px;
    height: 23px;
  }
  .watermark {
    top: 32px;
    right: 25px;
  }
}
